<div class="tight-form">
	<ul class="tight-form-list pull-right">
		<li ng-show="parserError" class="tight-form-item">
			<a bs-tooltip="parserError" style="color: rgb(229, 189, 28)" role="menuitem">
				<i class="fa fa-warning"></i>
			</a>
		</li>

		<li class="tight-form-item small" ng-show="target.datasource">
			<em>{{target.datasource}}</em>
		</li>

		<li class="tight-form-item">
			<div class="dropdown">
				<a class="pointer dropdown-toggle" data-toggle="dropdown" tabindex="1">
					<i class="fa fa-bars"></i>
				</a>
				<ul class="dropdown-menu pull-right" role="menu">
					<li role="menuitem">
						<a tabindex="1" ng-click="duplicateDataQuery(target)">Duplicate</a>
					</li>
					<li role="menuitem">
						<a tabindex="1" ng-click="moveDataQuery($index, $index-1)">Move up</a>
					</li>
					<li role="menuitem">
						<a tabindex="1" ng-click="moveDataQuery($index, $index+1)">Move down</a>
					</li>
				</ul>
			</div>
		</li>
		
		<li class="tight-form-item last">
			<a class="pointer" tabindex="1" ng-click="removeDataQuery(target)">
				<i class="fa fa-remove"></i>
			</a>
		</li>
	</ul>

	<ul class="tight-form-list">
		<li class="tight-form-item" style="min-width: 15px; text-align: center">
			{{target.refId}}
		</li>
		<li>
			<a class="tight-form-item" ng-click="target.hide = !target.hide; get_data();" role="menuitem">
				<i class="fa fa-eye"></i>
			</a>
		</li>
	</ul>

  <ul class="tight-form-list">
    <li class="tight-form-item" style="min-width: 15px; text-align: center">
      Endpoint:
    </li>
    <li class="tight-form-item">
	<input type="text"
		   class="tight-form-input input-xlarge"
		   ng-model="target.url"
		   placeholder="http://my.server.com/files/data.tsv" ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/"/>
    </li>
	  <li class="tight-form-item" style="min-width: 15px; text-align: center">
		  Metric name:
	  </li>
	  <li class="tight-form-item">
		  <input type="text" class="tight-form-input input-xlarge" ng-model="target.name" placeholder="Metric1"/>
	  </li>
	  <li class="tight-form-item">
		  <editor-checkbox text="Has Headings:" model="target.hasheadings"/>
	  </li>
	  <li class="tight-form-item" style="min-width: 15px; text-align: center">
		  Timestamp col:
	  </li>
	  <li class="tight-form-item">
		  <input type="text" class="tight-form-input input-xlarge" ng-model="target.timecol" placeholder="Column name or Column number"/>
	  </li>
	  <li class="tight-form-item" style="min-width: 15px; text-align: center">
		  Value col:
	  </li>
	  <li class="tight-form-item">
		  <input type="text" class="tight-form-input input-xlarge" ng-model="target.valuecol" placeholder="Column name or Column number"/>
	  </li>
  </ul>

	<div class="clearfix"></div>

</div>
